<h2>Bonjour,</h2>
<p>Nom Client :<span><%= fullName %></span></p>
<p>Mail Client :<span><%= mail %></span></p>
<p>Telephone Client: <span><%= telephone %></span></p>
<p>Société :<span><%= company %></span></p>
<p>Message:<span><%= message %></span></p>
<p>Merci de le recontacter !</p>
<p>EasyFlow</p>
